.container
  .row
    .col-xs-4
      %h1 Hi there! 
      %p I'm Ellen. I call this website "wolframpant" partly in honor of my last name, Wolfson, and partly in honor of my love for things medieval. I imagine my family crest, had  we had one, would have featured wolves rampant . . .
      %p I'm a web developer, full stack (primarily with Ruby on Rails) and front end (HTML, CSS, Javascript, jQuery). I've loved puzzles and logic since I was a child, fascinated by math and science. 
    .col-xs-8
      .slideUp
        = link_to image_tag(@interest1.photo), @interest1
        %p= link_to @interest1.name, @interest1
      .slideRight
        = image_tag(@interest2.photo)
        %p= link_to @interest2.name, @interest2
      .rotateFromLeft
        = image_tag(@interest3.photo)
        %p= link_to @interest3.name, @interest3
      .fromCorner
        = image_tag(@interest4.photo)
        %p= link_to @interest4.name, @interest4
      .rotateInDown
        = image_tag(@interest5.photo)
        %p= link_to @interest5.name, @interest5
      .fadeIn
        = image_tag(@interest6.photo)
        %p= link_to @interest6.name, @interest6
