.container
  .row
    .col-xs-4
      %h1 Hi there! 
      %p I'm Ellen. I call this website "wolframpant" partly in honor of my last name, Wolfson, and partly in honor of my love for things medieval. I imagine my family crest, had  we had one, would have featured wolves rampant . . .
      %p I'm a web developer, full stack (primarily with Ruby on Rails) and front end (HTML, CSS, Javascript, jQuery). I've loved puzzles and logic since I was a child, fascinated by math and science. 
    .col-xs-8
      .slideUp
        = link_to image_tag(@interest1.photo), @interest1
        %p= @interest1.name
      .slideRight
        = link_to image_tag(@interest2.photo, size: "200x200"), @interest2
        %p= @interest2.name
      .rotateFromLeft
        = link_to image_tag(@interest3.photo, size: "200x200"), @interest3
        %p= @interest3.name
      .fromCorner
        = link_to image_tag(@interest4.photo, size: "200x200"), @interest4
        %p= @interest4.name
      .rotateInDown
        = link_to image_tag(@interest5.photo, size: "200x200"), @interest5
        %p= @interest5.name
      .fadeIn
        = link_to image_tag(@interest6.photo, size: "200x200"), @interest6
        %p= @interest6.name
