.container
  .row
    .col-xs-4
      %h1 Hi there! I'm Ellen. I call this website "wolframpant" partly in honor of my last name, Wolfson, and partly in honor of my love for things medieval. I imagine my family crest, had  we had one, would have featured wolves rampant . . .
      I'm a web developer, full stack (primarily with Ruby on Rails) and front end (HTML, CSS, Javascript, jQuery). I've loved puzzles and logic since I was a child, fascinated by math and science. 
    .col-xs-8
      .slideUp
        = image_tag("031.JPG", size: "200x200")
        %p Logic and Puzzles 
      .slideRight
        = image_tag("028.JPG", size: "200x200")  
        %p Different Cultures 
      .rotateFromLeft
        = image_tag("064.JPG", size: "200x200")  
        %p Analytic Thinking 
      .fromCorner
        = image_tag("354.JPG", size: "200x200")  
        %p Back to Nature
      .rotateInDown
        = link_to (image_tag("369.JPG", size: "200x200")), (interest_path(id:1))  
        %p Science 
      .fadeIn
        = image_tag("Mask.jpg", size: "200x200")  
        %p> Creative Pursuits
