.container
  .row
    .col-xs-4
      %h2 Hi there! 
      %p Thank you for visiting my website.
      %p I'm a web developer, full stack (primarily with Ruby on Rails, HTML, CSS, Javascript, jQuery). I've loved puzzles and logic since I was a child, and coding for the web allows me to indulge those loves while maintaining a level of creativity that I also value.
      %p I put together this website to complement my resume (which is included here) and my #{ link_to "LinkedIn profile", "www.linkedin.com/in/wolframpant" }. Here you can find a bit of information and lots of pictures from various places I've been, projects I've been involved with--basically, selected highlights from my work and personal lives.
      %p <em> The images to the right reflect various passions and themes that have been interwoven in my life. Click on an image to see a bit about that theme, and to see highlights that relate to it.
      
    .col-xs-8
      .slideUp
<<<<<<< HEAD
        = link_to image_tag(@interest1.photo), @interest1
=======
        .intimg
          = link_to image_tag(@interest1.photo), @interest1
>>>>>>> styling
        %p= @interest1.name
      .slideRight
        .intimg
          = link_to image_tag(@interest2.photo), @interest2
        %p= @interest2.name
      .rotateFromLeft
        .intimg
          = link_to image_tag( @interest3.photo ), @interest3
        %p= @interest3.name
      .fromCorner
        .intimg
          = link_to image_tag(@interest4.photo), @interest4
        %p= @interest4.name
      .rotateInDown
        .intimg
          = link_to image_tag(@interest5.photo), @interest5
        %p= @interest5.name
      .fadeIn
<<<<<<< HEAD
        = link_to image_tag(@interest6.photo, size: "200x200"), @interest6
        %p= @interest6.name
=======
        .intimg
          = link_to image_tag(@interest6.photo), @interest6
        %p= @interest6.name
      %br
      %br
      %br
>>>>>>> styling
