.container
  
  .event
    %h2= @event.name
    %p= @event.description
    -if current_user
      = link_to "Add Event", new_event_path
      = link_to "Edit Event", edit_event_path(:id => @event.id)
     
  .images
    - if current_user
      %h3 Add Image for #{@event.name}
      = form_for @image do |f|
        = f.label :name
        = f.text_field :name, :size => 50
        %br
        %br
        = f.label :image
        = f.file_field :location
        = f.hidden_field :location_cache 
        %br
        = f.hidden_field :event_id, :value => @event.id
        %br
        = f.label :prime
        = f.radio_button(:prime, true)
        %br
        = f.label 'not prime'
        = f.radio_button(:prime, false)
        %br
        %br
        = f.submit 'Submit'
        %br
    
    -if @images.exists?
      - @images.each do |pic|
        .eventimg
          = image_tag(pic.location.full.url)
          - if current_user
            = link_to "Delete", image_path(:id => pic.id), :action => 'destroy', :method => :delete, data: {confirm: 'Do you want to delete this image?'}
              
              
              
              
              
              
              
              
              
              
              
              
              