.container
  
  .event
    %h1= @event.name
    %p= @event.description
     
  .images
    = link_to 'Add Images', new_image_path
    - @images.each do |pic|
      .eventimg
        = image_tag(pic.thumb.url)
        %p= @image.name