.container
  %h1 Add Interest
  = form_for @interest do |f| 
    = f.label :name 
    = f.text_field :name, :size => 50 
    %br 
    %br 
    = f.label :description 
    %br 
    = f.text_area :description, cols: 120, rows: 10 
    %br 
    %br 
    = f.submit 'Submit' 
