.container
  .row
    .col-md-4
      %h1= @interest.name
      %p= @interest.description
      %br
      = form_for @evint do |f|
        = (collection_select(:evint, :event_id, Event.all, :id, :name, :prompt => :true))
        = f.hidden_field :interest_id, :value => @interest.id
        = f.submit 'Save'
    