.container
  .row
    .col-md-8
      %h3 Related Highlights
      - @evints.each do |e|
        .eventimg
          = link_to e.evint_event.name, e.evint_event
          = image_tag(e.evint_event.images.find_by(:prime => true).location.thumb.url)
          - if current_user 
            = link_to "Delete", evint_path(e), :method => :delete, :confirm => 'Are you sure?'
        
        
    .col-md-4
      %h2= @interest.name
      %p= @interest.description
      %br
      - if current_user
        %p= link_to 'Edit Interest', edit_interest_path(:id => @interest.id)
        %p Add Events
        = form_for @evint do |f|
          = f.collection_select :event_id, @events, :id, :name, size: 50 
          = f.hidden_field :interest_id, :value => @interest.id
          = f.submit 'Save'
        
     
    