.container
  .row
    .col-md-7
      %h3 Related Highlights
      - @evints.each do |e|
        .grayscale
          .inteventimg
            .high
              = link_to e.event.name, e.event
            %br
            - if e.event.images.exists?
              = link_to image_tag(e.event.images.find_by(:prime => true).location.full.url), e.event
            %br
            - if current_user 
              = link_to "Delete #{e.id}", e, :method => :delete, data: {:confirm => 'Are you sure?'}

    .col-md-5
      %h2= @interest.name
      %p= @interest.description
      %br
      // only someone logged in as a registered user may add or edit interests, or add events to an interest
      - if current_user
        = link_to 'Edit Interest', edit_interest_path(:id => @interest.id)
        = link_to 'Add Interest', new_interest_path
        %p Add Events
        = form_for @evint do |f|
          = f.collection_select :event_id, @events, :id, :name, size: 50 
          = f.hidden_field :interest_id, :value => @interest.id
          = f.submit 'Save'
        
     
    