.container
  .row
    .col-md-4
      %h1= @interest.name
      %p= @interest.description
      %br
      - if current_user
        %p= link_to 'Edit Interest', edit_interest_path(:id => @interest.id)
        %p Add Events
        = form_for @evint do |f|
          = f.collection_select :event_id, @events, :id, :name, size: 50 
          = f.hidden_field :interest_id, :value => @interest.id
          = f.submit 'Save'
        
    .col-md-8
      %h1 Related Highlights
      - @evints.each do |e|
        = link_to e.evint_event.name, e.evint_event
        - if current_user 
          = link_to "Delete",  {:id => e.id, :action => 'destroy'}, :method => :delete, data: {confirm: 'Do you want to delete this evint?'}
        %br
     
    