.container
  .row
    .col-md-4
      %h1= @interest.name
      %p= @interest.description
      %br
      %p= link_to 'Edit Interest', edit_interest_path(:id => @interest.id)
      %p Add Events
      = form_for @evint do |f|
        = (collection_select(:evint, :event_id, Event.all, :id, :name, :prompt => :true))
        = f.hidden_field :interest_id, :value => @interest.id
        = f.submit 'Save'
        
    .col-md-8
      %h1 Selected Images
      %small please click on an image to view its associated highlight!
      = for @images.each do |i|
        = link_to image_tag(@image.location.full.url), @image.event
    