.container
  %h1 Add Image for #{@event.name}
  = form_for @image, :html => {:multipart => true} do |f|
    = f.label :name
    = f.text_field :name, :size => 50
    %br
    %br
    = f.label :image
    = f.file_field :location
    = #f.hidden_field :location_cache 
    %br
    - #f.hidden_field :event_id => @event.id
    %br
    = f.label :prime
    = f.radio_button(:prime, true)
    %br
    = f.label 'not prime'
    = f.radio_button(:prime, false)
    %br
    %br
    = f.submit 'Submit'
  