.container
  %h1 Add Image for #{@event.title}
  - form_for @image do |f|
    = f.label :title
    = f.label :title, size => 50
    %br
    %br
    = f.label :image
    = f.file_field :location
    = f.hidden_field :location_cache 
    %br
    - f.hidden_field :event_id => @event.id
    %br
    = f.submit 'Submit'
  