<!DOCTYPE html>
<html>
<head>
  <title>Wolframpant</title>
  <link href='https://fonts.googleapis.com/css?family=Cinzel+Decorative|Federo|Fredericka+the+Great' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  <h1 class="epw">ELLEN P. WOLFSON</h1>
  <ul class="nav nav-tabs">
    <li><%= link_to "HOME", welcome_index_path %></li>
    <li><%= link_to "RESUME", '/Resume.pdf', :target => '_blank' %></li>
    <li><%= link_to "PORTFOLIO", projects_path %></li>
    <li><%= link_to "LINKEDIN PROFILE", "https://www.linkedin.com/in/wolframpant", :target => "_blank" %></li>
    <li><%= link_to "GITHUB PROFILE", "https://www.github.com/wolframpant", :target => "_blank" %></li>

    <% if current_user %>
    <div class = "pull right">
    <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm' do %>
              <span class = "glyphicon glyphicon-log-out"></span> 
    <% end %>
    </div>
    <% end %>
  </ul>
     
  <% if flash[:notice] %>
    <p class="notices"><%= flash[:notice]%></p>
  <% end %>
    
  </div>

  <%= yield %>

</body>
</html>
